
.Home-product-cards{
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
  justify-content: space-evenly;
  padding:0vw 8vw;
  
}
.addProductForm{
  background-color: aliceblue;
  border-radius: .2vw;
  padding: 2vw;
  height: 80vh;
  width: 60vw;
  overflow-y: scroll;
}
.addProductForm::-webkit-scrollbar {
  display: none;
}